@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Inter:wght@400;500&family=Poppins:wght@800&family=Roboto+Condensed&family=Roboto:ital,wght@1,300;1,400&display=swap');

body {
    background-color: antiquewhite;
    font-family: 'Roboto', sans-serif;
}

html {
    box-sizing: border-box;
}

/*.movie-container {*/
/*    display: flex;*/
/*    gap: 50px;*/
/*    margin-bottom: 20px;*/
/*    flex-direction: row;*/
/*}*/

.createdForm {
    display: flex;
    gap: 50px;
    padding: 20px;
}

.createdForm div {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}

.movie-container button {
    padding: 10px 20px;
    background-color: green;
}

.form-container {
    max-width: 400px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
    gap: 10px;
}

/* EDIT FORM */

.global-form-container {
    display: grid;
    grid-template-columns: 1fr 2fr

}

.editForm {
    display: grid;
    max-width: 400px;
    gap: 10px
}


































/*#root {*/
/*  max-width: 1280px;*/
/*  margin: 0 auto;*/
/*  padding: 2rem;*/
/*  text-align: center;*/
/*}*/

/*.logo {*/
/*  height: 6em;*/
/*  padding: 1.5em;*/
/*  will-change: filter;*/
/*  transition: filter 300ms;*/
/*}*/
/*.logo:hover {*/
/*  filter: drop-shadow(0 0 2em #646cffaa);*/
/*}*/
/*.logo.react:hover {*/
/*  filter: drop-shadow(0 0 2em #61dafbaa);*/
/*}*/

/*@keyframes logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  a:nth-of-type(2) .logo {*/
/*    animation: logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.card {*/
/*  padding: 2em;*/
/*}*/

/*.read-the-docs {*/
/*  color: #888;*/
/*}*/
